@import url(style.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ebdfd1;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebdfd1;
    padding: 7px 40px;
    border-bottom: 5px solid #37220d; 
}

.nav-buttons {
    display: flex;
    gap: 100px;
}

.nav-buttons button {
    background: none;
    border: none;
    font-size: 25px; 
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
    font-family: 'Merriweather', sans-serif;
    color: #352310;
}

.nav-buttons button:hover {
    color: #7a5c3a;
    text-decoration: underline;
}

.header-icon img {
    height: 65px; 
    width: auto;
}

/* Main - About */

.about-info {
    display: flex;
    margin: 10px;
    justify-content: center; 
    width: 100%;
    gap: 20px; 
}
  
.block {
    position: relative;
    width: 650px;
    height: 450px;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid #37220d; 
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c4b09a;
}

.block .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5; 
    transition: opacity 0.3s;
    z-index: 0;
}

.objective .bg-image {
    background-image: url('/app/static/images/coffee-4.png');
}

.about .bg-image {
    background-image: url('/app/static/images/coffee-4.png');
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(80, 50, 20, 0.7); 
    color: white;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    z-index: 2;
    font-family: 'Merriweather', sans-serif;
}
  
.text {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 3;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.7rem;
    text-align: justify;
}

.block:hover .overlay {
    opacity: 0;
}

.block:hover .bg-image {
    opacity: 0;
}

.block:hover .text {
    opacity: 1;
}

/* Main - Developers */
.about-developers h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 2.5rem;
}
.about-developers {
    text-align: center;
    margin: 40px 20px;
    
  }
  
  .developer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .developer {
    width: 165px;
    height: 220px;
    transform: skew(-20deg);
    overflow: hidden;
    border: 2px solid #ccc;
  }
  
  .developer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: skew(20deg);
  }  


/* Footer */
footer {
    background-color: #37220d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #eaddd2;
}

.footer-icon img {
    width: 320px;
    height: auto;
    padding-right: 20px;
}

.footer-contacts {
    flex: 2;
    margin: 0 20px;
}

.footer-contacts h1 {
    margin-bottom: 10px;
    font-family: 'Merriweather', sans-serif;
}

.footer-contact-columns {
    display: flex;
    gap: 20px;
}

.footer-names p,
.footer-emails p {
    margin: 2px 0;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.1rem; 
}

.footer-references {
    flex: 1;
    margin-left: 10px;
    border-left: 2px solid #eaddd2;
    padding-left: 10px;
    font-family: 'Merriweather', sans-serif;
}

