<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Paolo Hermanos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/LosPaoloHermanos-Logo.png') }}">
</head>
<body>

    <!-- Header for Navigation -->
    <header>
        <div class="header-icon">
            <img src="{{ url_for('static', filename='images/LosPaoloHermanos-Logo.png') }}" alt="Los Paolo Hermanos Logo">
        </div>
        </div>
        <div class="nav-buttons">
            <a href="{{ url_for('main.index') }}">
                <button> Home </button>
            </a>
            <a href="{{ url_for('main.classifier') }}">
                <button> Classifier </button>
            </a>
            <a href="{{ url_for('main.about') }}">
                <button> About </button>
            </a>
        </div>
    </header>

    <main>
        <div class="main-banner">
    
        </div>
        <div class="about-info">
            <div class="block objective">
              <div class="bg-image"></div>
              <div class="overlay">Objectives</div>
              <div class="text">
                <p>This study focuses on automating the classification of Arabica coffee bean grades 
                    using Convolutional Neural Networks (CNNs) and various data preprocessing techniques. 
                    It also compares the performance of CNN with traditional models like SVM and Decision Trees 
                    to assess improvements in accuracy and reliability. The final goal is to implement the most 
                    effective model into a web-based application for practical use in the coffee industry.</p>
              </div>
            </div>
          
            <div class="block about">
              <div class="bg-image"></div>
              <div class="overlay">About</div>
              <div class="text">
                <p>Grading coffee beans is essential in maintaining the quality, 
                    consistency, and market value of coffee, one of the most widely 
                    consumed beverages globally. The grading process evaluates beans 
                    based on various physical attributes such as size, flaws, 
                    moisture content, and cup quality, using methods like cupping, screening, 
                    and visual inspection (Cafe Du Monde, 2025).</p>
              </div>
            </div>
          </div>
          
      
        <div class="about-developers">
          <h2>Meet The Researchers</h2>
          <div class="developer-container">
            <div class="developer">
                <img src="" alt="Alcaparras, Krishaianne" />
            </div>
            <div class="developer">
                <img src="" alt="Bromeo, Emmanuel" />
            </div>
            <div class="developer">
                <img src="" alt="Cagulada, Sheryn Ann" />
            </div>
            <div class="developer">
                <img src="" alt="Calsiman, Carl" />
            </div>
            <div class="developer">
                <img src="" alt="Cendana, April" />
              </div>
            <div class="developer">
                <img src="" alt="Galvan, Marc Jansen" />
            </div>
            <div class="developer">
                <img src="" alt="Munar, Dulthe Carlo Jr." />
            </div>
          </div>
        </div>
      </main>
      

    <footer>
        <div class="footer-icon">
            <img src="{{ url_for('static', filename='images/LosPaoloHermanos-Logo.png') }}" alt="Los Paolo Hermanos Logo">
        </div>
        <div class="footer-contacts">
            <h1>Contact Us</h1>
            <div class="footer-contact-columns">
                <div class="footer-names">
                    <p>ALCAPARRAS, Krishaianne Mae</p>
                    <p>BROMEO, Emmanuel Paolo</p>
                    <p>CAGULADA, Sheryn Ann</p>
                    <p>CALSIMAN, Carl Allan</p>
                    <p>CENDANA, Juliana April</p>
                    <p>GALVAN, Marc Jansen</p>
                    <p>MUNAR, Dulthe Carlo Jr.</p>
                </div>
                <div class="footer-emails">
                    <p>2234798@slu.edu.ph</p>
                    <p>2233274@slu.edu.ph</p>
                    <p>2230764@slu.edu.ph</p>
                    <p>2234060@slu.edu.ph</p>
                    <p>2233171@slu.edu.ph</p>
                    <p>230714@slu.edu.ph</p>
                    <p>2230142@slu.edu.ph</p>
                </div>
            </div>
        </div>
        <div class="footer-references">
            <h1>References</h1>
        </div>
    </footer>
    
</body>
</html>