<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Paolo Hermanos</title>
    <link rel="stylesheet" href="app/static/homepage.css">

</head>
<body>
    <!-- Header for Navigation -->
    <header>
        <div class="header-icon">

        </div>
        <div class="nav-buttons">
            <button> Home </button>
            <button> Classifier </button>
            <button> About </button>
        </div>
    </header>

    <!-- Introduction -->
    <main>
        <div class="main-banner">
            <video class="fullscreen-video" autoplay muted loop>
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <span class="hover-text">https://www.facebook.com/slu.edu.ph/videos/1557368455075773 | https://www.youtube.com/watch?v=c9awuiKUVi8</span>
    
        </div>
        <div class="main-title">
            <h1> Web-Based Grading of Arabica Coffee Beans using <br>
                Machine Learning and Deep Learning Techniques</h1>
            <p>Alcaparras K.M. | Bromeo E.P | Cagulada S.A. | Calsiman C.A. | Cendaña J.A. | Galvan M.J. | Munar D.C.</p>
        </div>
        <div class="main-article-1">
            <div class="article-1-text">
                <p>Coffee is one of the most widely consumed beverages in the 
                    world and plays a vital role in many national economies, 
                    including that of the Philippines (PCAARRD, n.d.). 
                    Its global demand has given rise to a highly 
                    competitive industry where quality assessment is essential 
                    in maintaining standards across the supply chain. 
                    One important aspect of this process is coffee bean grading, 
                    a systematic approach to evaluating coffee quality that enables producers, 
                    traders, and consumers to align expectations and ensure fair 
                    market practices (Zwart, 2021). Coffee grade directly influences a product's 
                    market value, consumer appeal, and standing in international trade.</p>
            </div>
            <div class="article-1-img"></div>
        </div>
        <div class="main-article-2">
            <div class="article-2-text">

            </div>
            <div class="article-2-img"></div>
        </div>
        <div class="main-article-3">
            <div class="article-3-text">

            </div>
            <div class="article-3-img"></div>
        </div>
        <div class="main-article-4">
            <div class="article-4-text">

            </div>
            <div class="article-4-img"></div>
        </div>
        <div class="main-article-5">
            <div class="article-5-text">

            </div>
            <div class="article-5-img"></div>
        </div>
    </main>

    <footer>
        <div class="footer-icon"></div>
        <div class="footer-contacts">
            <p>ALCAPARRAS, Krishaianne Mae</p>
            <p>BROMEO, Emmanuel Paolo</p>
            <p>CAGULADA, Sheryn Ann</p>
            <p>CALSIMAN, Carl Allan</p>
            <p>CENDANA, Juliana April</p>
            <p>GALVAN, Marc Jansen</p>
            <p>MUNAR, Dulthe Carlo Jr.</p>
        </div>
        <div class="footer-references"></div>
    </footer>
    
</body>
</html>