<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Paolo Hermanos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/LosPaoloHermanos-Logo.png') }}">
</head>
<body>
    <!-- Header for Navigation -->
    <header>
        <div class="header-icon">
            <img src="{{ url_for('static', filename='images/LosPaoloHermanos-Logo.png') }}" alt="Los Paolo Hermanos Logo">
        </div>
        </div>
        <div class="nav-buttons">
            <a href="{{ url_for('main.index') }}">
                <button> Home </button>
            </a>
            <a href="{{ url_for('main.classifier') }}">
                <button> Classifier </button>
            </a>
            <a href="{{ url_for('main.about') }}">
                <button> About </button>
            </a>
        </div>
    </header>

    <!-- Introduction -->
    <main>
        <div class="main-banner">
    
        </div>
        <div class="main-title">
            <h1> Web-Based Grading of Arabica Coffee Beans using <br>
                Machine Learning and Deep Learning Techniques</h1>
            <p>Alcaparras K.M. | Bromeo E.P | Cagulada S.A. | Calsiman C.A. | Cendaña J.A. | Galvan M.J. | Munar D.C.</p>
        </div>
        <div class="main-article-1">
            <div class="article-1-text">
                <p>Coffee is one of the most widely consumed beverages in the 
                    world and plays a vital role in many national economies, 
                    including that of the Philippines (PCAARRD, n.d.). 
                    Its global demand has given rise to a highly 
                    competitive industry where quality assessment is essential 
                    in maintaining standards across the supply chain. 
                    One important aspect of this process is coffee bean grading, 
                    a systematic approach to evaluating coffee quality that enables producers, 
                    traders, and consumers to align expectations and ensure fair 
                    market practices (Zwart, 2021). Coffee grade directly influences a product's 
                    market value, consumer appeal, and standing in international trade.</p>
            </div>
            <div class="article-1-img"></div>
        </div>
        <div class="main-article-2">
            <div class="article-2-text">
                Traditionally, coffee grading is carried out through manual inspection, where trained 
                professionals assess beans based on characteristics such as size, color, and the presence 
                of defects (Jayakumari et al., 2024). While effective to a degree, this approach is time-consuming, 
                labor-intensive, and often subject to human error and variability in judgment. 
                As the coffee industry continues to grow and demand for high-quality beans increases, 
                there is a pressing need for more efficient, consistent, and objective methods of quality classification.
            </div>
            <div class="article-2-img"></div>
        </div>
        <div class="main-article-3">
            <div class="article-3-text">
                The Philippines stands as one of the few countries capable of cultivating all four commercially 
                viable coffee varieties such as Arabica, Robusta, Liberica, and Excelsa. Given the condition of the land 
                and climate in the lowland or mountain regions, the Philippines is suitable for growing all four varieties (DOST, 2024). 
                Among these, Arabica remains the most prized due to its refined flavor, mild acidity, and lower caffeine content. 
                This variety grows in the country’s highland regions, particularly in the Cordillera Administrative Region (CAR), 
                where elevations and climate provide favorable conditions for planting. The warm and fertile soil of the area, 
                as well as the low temperatures, such as in locations like Baguio and Benguet, provide an ideal environment for Arabica cultivation,
                which is needed for specialty-grade coffee (The Philippine Coffee Board, Inc., 2021).
            </div>
            <div class="article-3-img"></div>
        </div>
        <div class="main-article-4">
            <div class="article-4-text">
                However, despite this growing demand both locally and globally and while the region has the potential 
                to produce high-grade coffee, one of the main challenges lies in the grading process itself, 
                as the grading process for Arabica beans in the Philippines remains largely manual and inconsistent (Idago & Dela Cruz, 2011). 
                Arabica grading involves assessing the beans based on factors such as size, color, shape, and the presence of defects. 
                These criteria significantly influence the market price and export value of the Arabica beans. In Baguio City and nearby areas, 
                smallholder farmers often lack access to standardized grading tools or technologies, which can lead to inconsistent results, 
                as well as undervaluation of their produce or rejection in quality-conscious markets (Soque, 2018). 
                This poses a challenge not only for fair pricing but also for the overall competitiveness of the local coffee industry
            </div>
            <div class="article-4-img"></div>
        </div>
        <div class="main-article-5">
            <div class="article-5-text">
                In the Cordillera region, the grading process commonly involves multiple steps. 
                First, defect assessment is conducted using the Specialty Coffee Association of America (SCAA) Green Coffee Classification Method, 
                which categorizes beans into grades (Specialty, Premium, Exchange, Below Standard, Off Grade) based on the number of defects.
                One common defect in the region is a high incidence of broken beans, often attributed to traditional processing techniques (Embuscado, 2010). 
                Next, screen size classification is done using sieves aligned with the Philippine National Standard (PNS/BAFPS 01:2003), 
                separating beans into large, medium, and small sizes. Cup quality is also considered, although specific assessment procedures are often 
                unclear or inconsistently applied at the smallholder level. Finally, manual sorting takes place after drying, where beans are hand-sorted on tables 
                to remove any remaining defects missed during earlier stages (Idago & Dela Cruz, 2011).
            </div>
            <div class="article-5-img"></div>
        </div>
    </main>

    <footer>
        <div class="footer-icon">
            <img src="{{ url_for('static', filename='images/LosPaoloHermanos-Logo.png') }}" alt="Los Paolo Hermanos Logo">
        </div>
        <div class="footer-contacts">
            <h1>Contact Us</h1>
            <div class="footer-contact-columns">
                <div class="footer-names">
                    <p>ALCAPARRAS, Krishaianne Mae</p>
                    <p>BROMEO, Emmanuel Paolo</p>
                    <p>CAGULADA, Sheryn Ann</p>
                    <p>CALSIMAN, Carl Allan</p>
                    <p>CENDANA, Juliana April</p>
                    <p>GALVAN, Marc Jansen</p>
                    <p>MUNAR, Dulthe Carlo Jr.</p>
                </div>
                <div class="footer-emails">
                    <p>2234798@slu.edu.ph</p>
                    <p>2233274@slu.edu.ph</p>
                    <p>2230764@slu.edu.ph</p>
                    <p>2234060@slu.edu.ph</p>
                    <p>2233171@slu.edu.ph</p>
                    <p>230714@slu.edu.ph</p>
                    <p>2230142@slu.edu.ph</p>
                </div>
            </div>
        </div>
        <div class="footer-references">
            <h1>References</h1>
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
    
</body>
</html>